<div class="about-section">
    <h1>About Us</h1>
    <p>Dreamcatchers is an event logistics and marketing company which was formed in 2020.</p>
    <p>The company offers all event planning services from a team of experienced and energetic event planners, suppliers, venues, photography and more. </p>
    <h3>You choose what you be- a vendor or a customer and it is totally free!</h3>
    <p>Explore our services and enjoy being a part of our ever-growing family.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <br><br>
  <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-content">
                    <h3 class="title">Anjali Darokar</h3>
                    <div class="price">
                       Corporate Event And Creative Head
                    </div>
                    <div>
                    <p>Anjali is an engineer turned event planner. She has 3 years of
                       experience and expertise in corporate event planning and decorations.
                    </p>
                </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-content">
                    <h3 class="title">Ankit Chourey</h3>
                    <div class="price">
                      Planning Head
                    </div>
                    <div>
                    <p>Ankit is the planning head of our team. With 3 years of experience in event planning and management, he is an expert in his area.
                    </p>
                </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-content">
                    <h3 class="title">Shivani Yadav</h3>
                    <div class="price">
                      Creative Head
                    </div>
                    <div>
                    <p>Shivani is the creative head.
                        With 3 years of experience, Shivani is known to make your dreams come true, when it comes to your events.
                    </p>
                </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-content">
                    <h3 class="title">Santosh Sharma</h3>
                    <div class="price">
                       Coordinating Head
                    </div>
                    <div>
                    <p>Santosh is the coordinating head.
                    You can be sure that there would be absolutely no mess in any part of your special day because of 3 years of experience.
                    </p>
                </div>
                </div>
            </div>
        </div>

  </div>
  <br>
  <h5>Contact: +91-9888888191</h5>
  <h5>Email:dream.team@gmail.com</h5>
  <h5>Office: Phoenix Arcade, Near Baiyappanahalli Metro Station, Bangalore-560038</h5>